<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot</title>
    <link rel="stylesheet" href="/static/chatbot.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yuyu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="chat-container">
        <header>AI Chatbot 🤖</header>
        <div id="chat-box" class="chat-box">
            <div class="message user-msg">Hello!</div>
            <div class="message bot-msg">How can i help you ?</div>
        </div>
        <div class="input-area"> 
            <input id="user-input" type="text" placeholder="Type your text...">
            <button id="send-btn">Send</button>
        </div>

    </div>
<script src="/static/chatbot.js"></script>
</body>
</html>