<!DOCTYPE html>
<html>
    <head>

        <title>music box</title>
        <link rel="stylesheet" href="/static/music.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


    </head>


    <body>
        <div class="heading">
            <h4>Here I'm giving a different types of songs</h4>
        </div>

        <div class="box">

            
            <div class="col"><h3>here is relaxing</h3>
                <div class="row">
                    <audio controls>
                        <source id="sky" src="/static/song/relaxing.mp3" type="audio/mpeg" >
                    </audio>
                </div>
                <div class="row">
                    <audio controls>
                        <source id="pink" src="/static/song/love.mp3" type="audio/mpeg">                         
                    </audio>
                </div>
            </div>


            
            <div class="col"><h3>here is mood freshing</h3>
                <div class="row">
                    <audio controls>
                        <source id="green" src="/static/song/relaxing.mp3" type="audio/mpeg" >
                    </audio>
                </div>
                <div class="row" >
                    <audio controls>
                        <source id="pink" src="/static/song/love.mp3" type="audio/mpeg">
                    </audio>
                </div>
                <div class="row">
                    <audio controls>
                        <source id="pink" src="/static/song/love.mp3" type="audio/mpeg">                         
                    </audio>
                </div>
            </div>


            
            <div class="col"><h3>here is energetic</h3>
                <div class="row">
                    <audio controls>
                        <source id="pink" src="/static/song/love.mp3" type="audio/mpeg">                         
                    </audio>
                </div>
                
                <div class="row">
                    <audio controls>
                        <source src="/static/song/love.mp3" type="audio/mpeg">                    
                    </audio>
                </div>
            </div>



                        
            <div class="col"><h3>here is energetic</h3>
                <div class="row">
                    <audio controls>
                        <source id="pink" src="/static/song/love.mp3" type="audio/mpeg">                         
                    </audio>
                </div>
                
                <div class="row">
                    <audio controls>
                        <source src="/static/song/love.mp3" type="audio/mpeg">                    
                    </audio>
                </div>
            </div>
            

        </div>

    </body>
</html>